---
layout: base
---
<div class="message index-header">
  <p>
    mythic mars is a powerful educational tool about Mars
  </p>

  <form action="result.md" method="post" novalidate="">
    <input type="email" value="" placeholder="what would you like to know?" name="EMAIL" class="email-field">
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e215b9e6f9a105b2c34f627a3_de8318630a" tabindex="-1" value=""></div>
    <button name="subscribe" class="submit-button">go!</button>
  </form>

  <p>
    try searching about the <a href="canal.md">"canals"</a> of Mars 
  </p>
</div>


